* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: Great1;
    src: url(/fonts/Epilogue-VariableFont_wght.ttf);
}

body {
    font-family: Great1;
    padding: 20px;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
#openBtn {
    border: 0;
    background-color: transparent;
    img {
        width: 40px;
        margin-bottom: 10px;
    }
}
#closeBtn {
    border: 0;
    background-color: transparent;
    img {
        width: 25px;
    
    }
}
#parentMenu {
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
    display: none;
}
#parentMenu.active {
    display: block;
}
#childMenu {
     width: 100%;
    min-width: 300px;
    height: 150%;
    background: white;
    box-shadow: black 2px 10px 17px 4px;
    padding: 20px;
    ul {
        margin-top: 20px;
        list-style: none;
        color:  hsl(0, 0%, 41%);
        padding: 40px 10px;
        cursor: pointer;
    } 
    li {
        padding: 10px 0;
    }
    span {
        padding: 0 20px;
    }
}
#closeBtn {
    position: fixed;
    right: 0;
    margin: 0 20px;
}
#auth {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -50px;
    
    span {
        margin-bottom: 20px;
    }
}
#regBtn {
    border: 2px solid hsl(0, 0%, 41%);
    padding: 9px;
    border-radius: 12px;
    width: 70%;
    text-align: center;
    
   
    
}
#mobile-feature-dropdown {
    span {
        
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 15px;
        
    }
}
#mobile-company-dropdown {
    span {
        display: flex;
        align-items: center;
        padding: 10px;
        
    }

}
#desktop-header {
    display: none;
}
#mobile-img {
    width: 100%;
    background-size: cover;
}
#desktop-img {
    display: none;
}
.image-hero {
    margin-bottom: 40px;
}
.text-area {
    text-align: center;
    h1 {
        font-size: 43px;
        margin-bottom: 20px;
    }
}
article {
    line-height: 20px;
    margin-bottom: 30px; 
    color:  hsl(0, 0%, 41%);
}
#learn {
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    margin-bottom: 30px;
}
.icon-texts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    gap: 10px;
    img {
        width: 65px;
    }
}

@media(min-width:768px) {
    #desktop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color:  hsl(0, 0%, 41%);
        position: fixed;
        z-index: 999;
        right: 0;
        left: 0;
        padding: 0 20px;
      
    }
    .left-desktop-header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
      
    }
    #nav-links { 
        img {
            padding: 0 5px;
        }
       
        ul {
        display: flex;
        align-items: center;
        justify-content: center;
       
        gap: 30px;
        list-style-type: none;
        }
    }
    #right-desktop-nav {
     display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        button {
            /* border: 1px solid ;
            border-radius: 20px;
            padding: 5px 12px;
            cursor: pointer; */
             border: 1px solid hsl(0, 0%, 41%);
    padding: 8px 20px;
    border-radius: 12px;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
        }
    }
    #hide {
        display: block;
    }
    #hide1 {
        display: none;
    }
    .hero-section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px 100px;
    }
    #mobile-img {
        display: none;
    }
    #desktop-img {
        width:60%;
        display: block;
        background-size: cover;
        margin-top: 50px;
    }
    .image-hero {
      display: flex;
      justify-content: flex-end;
    }
    .text-area {
      order: 1;
      margin-top: 140px;
      text-align: left;
      h1 {
        width: 70%;
        
        margin-bottom: 30px;
      }
    }
    .image-hero {
         order: 2;
        
    }
    #learn {
        margin-bottom: 30%;
        font-size: 16px;
    }
    #learn:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
    #mobile-header {
        display: none;
    }
    .icon-texts {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        img {
            width: 100%;
        }
    }
    #feature-head {
        display: flex;

    }
    #feature-dropdown {
       background-color: white;
       border-radius: 13px;
       box-shadow: 2px 3px 12px 2px grey;
       
       margin-top: 20px;
      
       display: none;
       position:fixed;
       top: 20px;
       left: 100px;
    
    }
    #feature-dropdown span {
        display: flex;
        align-items: center;
        padding: 7px;
    }
    #feature-dropdown img {
        margin: 0 5px;
    }
    #company-dropdown {
        background-color: white;
        
        border-radius: 12px;
         box-shadow: 2px 3px 12px 2px grey;
         position: fixed;
         top: 45px;
         left: 250px;
         display: none;
         span {
            display: flex;
            align-items: center;
            padding: 7px 10px;
         }
        
    }
   
   
}