* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: Great1;
    src: url(/fonts/Epilogue-VariableFont_wght.ttf);
}

body {
    font-family: Great1;
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
#openBtn {
    border: 0;
    background-color: transparent;
    img {
        width: 40px;
        margin-bottom: 10px;
    }
}
#closeBtn {
    border: 0;
    background-color: transparent;
    img {
        width: 25px;
    
    }
}
#parentMenu {
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1000;
  
    display: none;
     
    
}
#parentMenu.active {
    display: block;
   
}
#childMenu {
    /* background: white;
    height: 100%;
    width: 100%;
    min-width: 200px; */
     width: 75%;
    min-width: 300px;
    height: 100%;
    background: wheat;
    padding: 20px;
   
    ul {
        margin-top: 20px;
        list-style: none;
        color:  hsl(0, 0%, 41%);
        padding: 40px 10px;
        cursor: pointer;
    } 
    li {
        padding: 10px 0;
    }
    span {
        padding: 0 20px;
    }
}
#closeBtn {
    position: fixed;
    right: 0;
    margin: 0 20px;
}
#auth {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
        margin-bottom: 20px;
    }
}
#regBtn {
    border: 1px solid black;
    padding: 9px;
    border-radius: 12px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

















#mobile-img {
    width: 100%;
    background-size: cover;
}
#desktop-img {
    display: none;
}
.image-hero {
    margin-bottom: 40px;
}
.text-area {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    h1 {
        font-size: 43px;
        margin-bottom: 20px;
    }
}
article {
    line-height: 20px;
    margin-bottom: 30px; 
    color:  hsl(0, 0%, 41%);
}
#learn {
    background-color: black;
    color: white;
    padding: 12px 17px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    margin-bottom: 30px;
}
.icon-texts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    gap: 18px;
}
@media(min-width:768px) {
    #hide {
        display: block;
    }
    #hide1 {
        display: none;
    }
    .hero-section {
        /* display: grid;
        grid-template-columns: auto auto;
        width: 100%; */
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px 100px;
        

        
    }
    #mobile-img {
        display: none;
    }
    #desktop-img {
        width:60%;
        display: block;
        background-size: cover;
        
    }
    .image-hero {
      display: flex;
      justify-content: flex-end;
    }
    .text-area {
      order: 1;
      margin-top: 90px;
      text-align: left;
      h1 {
        width: 70%;
        
        margin-bottom: 30px;
      }
    }
    .image-hero {
         order: 2;
        
    }
    #learn {
        margin-bottom: 30%;
    }
    #learn:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
    #mobile-header {
        display: none;
    }
}