* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Great1;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
@font-face {
    font-family: Great1;
    src: url(/fonts/Epilogue-VariableFont_wght.ttf);
}
.left-nav ul  {
    display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 25px;
  list-style-type: none;
  cursor: pointer;
}
#snap-txt {
    font-size: 25px;
}
.right-nav ul  {
display: flex;
justify-content: space-evenly;
align-items: flex-start;
gap: 30px;
list-style-type: none;
cursor: pointer;
}
.registerBtn {
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid none;
    background-color: transparent;
    display: flex;
    align-items: flex-start;

}
#hide {
    display: none;
}
#mobile-img {
    width: 100%;
    background-size: cover;
}
#desktop-img {
    display: none;
}
.image-hero {
    margin-bottom: 40px;
}
.text-area {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    h1 {
        font-size: 43px;
        margin-bottom: 20px;
    }
}
article {
    line-height: 20px;
    margin-bottom: 30px;
    
}
#learn {
    background-color: black;
    color: white;
    padding: 12px 17px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    margin-bottom: 30px;
}
.icon-texts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    gap: 18px;
}
@media(min-width:768px) {
    #hide {
        display: block;
    }
    #hide1 {
        display: none;
    }
    .hero-section {
        /* display: grid;
        grid-template-columns: auto auto;
        width: 100%; */
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;

        
    }
    #mobile-img {
        display: none;
    }
    #desktop-img {
        width: 100%;
        display: block;
        background-size: cover;
        
    }
    .text-area {
      order: 1;
      margin-top: 90px;
      text-align: left;
      h1 {
        width: 70%;
        
        margin-bottom: 30px;
      }
    }
    .image-hero {
         order: 2;
        
    }
    #learn {
        margin-bottom: 30%;
    }
}